@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800|Roboto:400,400i,500,500i,700,700i');

input[type=button], input[type=submit], input[type=reset], button, 

.button {
	padding: 24px 36px;
	margin: 3px 4px;
	display: inline-block;
	color: #f8f8f8;
	font-size: 28px;
	cursor: pointer;
	background-color: #ff8c00;
 background-color: #E6264B; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6264B), to(#fad522));
 background-image: -webkit-linear-gradient(top, #E6264B, #fad522);
 background-image: -moz-linear-gradient(top, #E6264B, #fad522);
 background-image: -ms-linear-gradient(top, #E6264B, #fad522);
 background-image: -o-linear-gradient(top, #E6264B, #fad522);
 background-image: linear-gradient(to bottom, #E6264B, #fad522)
	border-radius: 55px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	-o-border-radius: 55px;
	
	opacity:0.8;
}
