@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800|Roboto:400,400i,500,500i,700,700i');

input[type=button], input[type=submit], input[type=reset], button, 

.button {
	padding: 24px 36px;
	margin: 3px 4px;
	display: inline-block;
	color: #f8f8f8;
	font-size: 28px;
	cursor: pointer;
	background-color: #ff8c00;
	background-color: linear-gradient(top, #ff8c00 0%, #ff8c00 100%);
	background-color: -moz-linear-gradient(top, #ff8c00 0%, #ff8c00 100%);
	background-color: -webkit-linear-gradient(top, #ff8c00 0%, #ff8c00 100%);
	background-color: -o-linear-gradient(top, #ff8c00 0%, #ff8c00 100%);
	border-radius: 55px;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	-o-border-radius: 55px;
	
	opacity:0.8;
}
